
  <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <ul class="navbar-nav mr-auto  navbar-expand-lg">
            <li class="nav-item  ">
                <a href="/admin/categories" class="nav-link badge text-light  " id="categorias" >Categorias</a>
            </li>
            <li class="nav-item ">
                <a href="/admin/articles" class="nav-link badge text-light " id="artigos" >Artigos</a>
            </li>
        </ul>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-danger">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <img src="logo.png" width="50" height="50" alt="logo">
      </button>
    </nav>
  </div>